<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login or Sign Up | Penerapan Sistem Radio dan Televisi </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/login/login.css" type="text/css">
  <!-- FontAweome CDN Link for Icons-->
</head>

<body>
  <div class="container">
    <%- include('./includes/warn.ejs') %>
      <div class="form">
        <div class="form-container sign-up-container">
          <form action="/account" method="POST">
            <h1>Buat Akun</h1>
            <input type="text" name="username" id="username" placeholder="Username" maxlength="8" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <input type="hidden" name="formType" value="signup">
            <button type="submit" value="signup">Buat Akun</button>
          </form>
          <div class="switch-up">
            <p>Sudah pernah mendaftar? Silahkan klik:</p>
            <div class="responsive res-sign-in">
              <button>Masuk</button>
            </div>
          </div>
        </div>
        <div class="form-container sign-in-container">
          <form action="/account" method="POST">
            <h1>Masuk</h1>
            <input type="text" name="username" id="username" placeholder="Username" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <input type="hidden" name="formType" value="signin">
            <button type="submit" value="signin">Masuk</button>
          </form>
          <div class="switch-in">
            <p>Belum memiliki akun? Silahkan klik: </p>
            <div class="responsive res-sign-up">
              <button>Buat Akun</button>
            </div>
          </div>

        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Selamat Datang Kembali!</h1>
              <p>Jika kamu sudah memiliki akun, silahkan login dan kamu dapat mulai belajar!</p>
              <button class="ghost" id="signIn">Masuk</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Halo!</h1>
              <p>Jika kamu belum memiliki akun, silahkan buat terlebih dahulu</p>
              <button class="ghost" id="signUp">Buat Akun</button>
            </div>
          </div>
        </div>
      </div>
  </div>


  <!-- Javascript file -->
  <!-- <script>let exports = {};</script> -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
  <script type="module" src="/login/login.js"></script>
</body>

</html>