<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Materi | Penerapan Sistem Radio dan Televisi </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo+2:400,500,700,900'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/materi/materi.css" type="text/css">
  <!-- FontAweome CDN Link for Icons-->
</head>

<body>
  <div class="wrapper">
    <a class="btn-back" href="/home"><i class="bi bi-arrow-left-short"></i>Halaman Utama</a>
    <h1>Materi Penerapan Sistem Radio dan Televisi.</h1>
    <!-- <div class="container">
      <div class="alertNotif notVisible">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p class="alertNotice">Kamu harus remedial terlebih dahulu untuk melanjutkan ke materi selanjutnya.</p>
      </div>
    </div> -->
    <div class="row-1">
      <div class="card"
        style="background-image: url('https://d21950x0o1sh55.cloudfront.net/assets/home/game-0e307d71d9838e8fbe4927b551f119bcd9e4748f2c2b70c7b81846702996ef94.jpg')">
        <div class="card__content">
          <a class="play-button" href="/materiOne.html">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 50 50">
              <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
              <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
            </svg>
          </a>
          <div class="card__content--description">
            <h3 class="roll-up">
              <span>S</span>
              <span>a</span>
              <span>t</span>
              <span>u</span>
            </h3>
            <p class="text-reveal">
              <span>
                <span>getaran, gelombang,</span>
                <span>frekuensi radio,</span>
                <span>dan propagasi gelombang radio</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="card"
        style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/26/desktop_VALERIAN_BNP_68.jpg');">
        <div class="card__content">
          <a class="play-button materiTwo" href="#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 50 50">
              <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
              <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
            </svg>
          </a>
          <div class="card__content--description">
            <h3 class="roll-up">
              <span>D</span>
              <span>u</span>
              <span>a</span>
            </h3>
            <p class="text-reveal">
              <span>
                <span>Blok diagram</span>
                <span>Penerima dan Pemancar Radio</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="card"
        style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/50/desktop_guided_tour_2.jpg');">
        <div class="card__content">
          <a class="play-button materiThree" href="#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 50 50">
              <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
              <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
            </svg>
          </a>
          <div class="card__content--description">
            <h3 class="roll-up">
              <span>T</span>
              <span>i</span>
              <span>g</span>
              <span>a</span>
            </h3>
            <p class="text-reveal">
              <span>
                <span>Saluran Transmisi</span>
                <span>dan Antena Gelombang Radio</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="card"
        style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/6/desktop_VALERIAN_BNP_02.jpg');">
        <div class="card__content">
          <a class="play-button evaluasi" href="#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 50 50">
              <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
              <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
            </svg>
          </a>
          <div class="card__content--description">
            <h3 class="roll-up">
              <span>F</span>
              <span>i</span>
              <span>n</span>
              <span>a</span>
              <span>l</span>
            </h3>
            <p class="text-reveal">
              <span>
                <span>Evaluasi pelajaran</span>
                <span>PSRTV</span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-3">
      <div class="card remed-card"
        style="background-image: url('https://images.unsplash.com/photo-1494178270175-e96de2971df9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80')">
        <div class="card__content">
          <a class="play-button" href="/remedial">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 50 50">
              <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
              <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
            </svg>
          </a>
          <div class="card__content--description">
            <h3 class="roll-up">
              <span>R</span>
              <span>e</span>
              <span>m</span>
              <span>e</span>
              <span>d</span>
              <span>i</span>
              <span>a</span>
              <span>l</span>
            </h3>
            <p class="text-reveal">
              <span>
                <span>Remedial nilai </span>
                <span>kuis dan evaluasi</span>
              </span>
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="card"
          style="background-image: url('https://d21950x0o1sh55.cloudfront.net/uploads/inside_exclusif/picture/26/desktop_VALERIAN_BNP_68.jpg');">
          <div class="card__content">
            <a class="play-button" href="/materiTwo.html">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 50 50">
                <path d="M42.7,42.7L25,50L7.3,42.7L0,25L7.3,7.3L25,0l17.7,7.3L50,25L42.7,42.7z" class="polygon"></path>
                <polygon points="32.5,25 21.5,31.4 21.5,18.6 "></polygon>
              </svg>
            </a>
            <div class="card__content--description">
              <h3 class="roll-up">
                <span>D</span>
                <span>u</span>
                <span>a</span>
              </h3>
              <p class="text-reveal">
                <span>
                  <span>Blok diagram</span>
                  <span>Penerima dan Pemancar Radio</span>
                </span>
              </p>
            </div>
          </div>
        </div> -->
    </div>
    <!-- <div class="user no-disp">
        <%= user[0] %>
      </div> -->
  </div>
  </div>
  <!-- partial -->
  <!-- <div class="materi-content">
    <div class="title-content">Materi</div>
    <div class="wrapper">
      <div class="center-line">
        <a href="#" class="scroll-icon"></a>
      </div>
      <div class="row row-1">
        <section>
          <div class="num">1</div>
          <div class="details">
            <div class="materi-title">Frekuensi dan Propagasi Gelombang</div>
            <p>Membahas mengenai getaran, gelombang, frekuensi radio, dan propagasi gelombang radio.</p>
            <div class="button">
              <a href="materiOne.html" class="btn-materi-1 btn-mulai">Mulai Belajar</a>
              <a href="quiz.html" id="chapter" class="kuis-materi-1 kuis-mulai">Mulai
                Kuis</a>
            </div>
          div id="kuis-1" class="button kuis-mulai">
                        <a href="quiz.html" class="materi-1">Mulai Belajar</a>
                    </div> -->
  <!-- </div>
  </section>
  </div>
  <div class="row row-2">
    <section>
      <div class="num">2</div>
      <div class="details">
        <div class="materi-title">Penerima dan Pemancar Radio</div>
        <p>Membahas blok diagram pada tiap tipe penerima dan pemancar gelombang radio.</p>
        <div class="button">
          <a href="materiTwo.html" class="btn-mulai">Mulai Belajar</a>
          <a href="quizTwo.html" id="chapter" class="kuis-mulai">Mulai
            Kuis</a>
        </div>
      </div>
    </section>
  </div>
  <div class="row row-3">
    <section>
      <div class="num">3</div>
      <div class="details">
        <div class="materi-title">Saluran Transmisi dan Antena Gelombang Radio</div>
        <p>Membahas mengenai tipe-tipe saluran transmisi, impedansi karakteristik pada saluran
          transmisi, gelombang elektromagnetik pada saluran transmisi, karakteristik antena, dan
          tipe-tipe antena. </p>
        <div class="button">
          <a href="materiThree.html" class="btn-mulai">Mulai Belajar</a>
          <a href="quizThree.html" id="chapter" class="btn-lock kuis-mulai">Mulai
            Kuis</a>
        </div>
      </div>
    </section>
  </div>
  </div>
  </div> -->
  <script data-user="<%= JSON.stringify(user[0]) %>">
    const user = JSON.parse(document.currentScript.dataset.user)
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src="/materi/script.js"></script>
  <script src="/materi/alert.js"></script>
</body>

</html>