@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #0a0a18;
    
}

h1{
  padding: 10px 0 20px 0;
}

.load-container{
	position: absolute;
	color: white;
  min-width: 100vw;
	min-height: 100vh;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title{
  padding: 5px;
  margin-top: 1rem;
  text-align: center;
  overflow: hidden;
}

.title .text{
  position: relative;
  font-size: 30px;
  font-weight: 600;
}

.title .text.sec-text{
 color: #c9dcf9;
}

.title .text.sec-text::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0a0a18;
  border-left: 2px solid #6a7b95;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
    left: 100%;
  }

  100%{
    left: 0%;
  }
}

.btn{
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-log{
	background-color: white;
  color: black;
  font-weight: 600;
  padding: 15px 30px;
  /* font-size: 20px; */
  border-radius: 10px;
  cursor: not-allowed;
  text-decoration: none;
  text-align: center;
  transform: scale3d(0, 0, 0);
}

#myProgress {
  width: 100%;
}

#myBar {
  margin-top: 10%;
  width: 1%;
  height: 5px;
  background-color: #4d7265;
}

.ended{
	cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s ease-in-out;
}